main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    /* background-image: url('../img/244371.png'); */
    background-color:  #9f0f1de1;
    background-size: cover;
    color: #ff051ec8;
    font-size: 1.15rem;
    font-style: oblique;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100vh;
    background-color: #9f0f1de1;
    border-radius: 20px;
    padding: 30px;
    margin: 0 0 30px;
    color: #fff;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 100vh;
    min-height: 100vh;
    gap: .5rem;
    margin: 1rem auto;
}
.card{
    aspect-ratio: 3/4;
    width: 100%;
    min-height: 20vh;
    background-color: #000;
    position: relative;
    border-radius: 5%;
    border: 5px solid #000;
    transition: all 400ms ease-in-out; 
    transform-style: preserve-3d;
    
}
h1{
    text-align: center;
    padding: 10px;
}
.face{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all 1000 ease-in-out ;
    background-size: cover;
}
.front{
    transform: rotateY(180deg);  /*When card flip need this to fix in right position */
}
.back{
    background-image: url('../img/R.jpeg');
    
    backface-visibility: hidden;
} 
.reveal-card{
    transform: rotateY(180deg);
}  
.disabled-card{
    filter: saturate(2);
    opacity: 0.5;
}
button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}

/* Media queries  */
@media screen and (min-width:320px){
    .grid{
        grid-template-columns: repeat(2,1fr) ;

    }
}
@media screen and (min-width:768px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
        
    }
    
}@media screen and (min-width:1440px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}