main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #9f0f1de1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
    gap: .5rem;
    margin: 1rem auto;
    background-color: #000;
    
}
.card{
    aspect-ratio: 3/4;
    width: 100%;
    min-height: 20vh;
    background-color: #000;
    position: relative;
    border-radius: 5%;
    border: 5px solid #000;
    transition: all 400ms ease-in-out; 
    transform-style: preserve-3d;
    
}
h1{
    text-align: center;
    padding: 10px;
}
.face{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all 1000 ease-in-out ;
    background-size: cover;
}
.front{
    transform: rotateY(180deg);  /*When card flip need this to fix in right position */
}
.back{
    background-image: url('../img/R.jpeg');
    
    backface-visibility: hidden;
} 
.reveal-card{
    transform: rotateY(180deg);
}  
.disabled-card{
    filter: saturate(2);
    opacity: 0.5;
}
